@import "../../../public/scss/palette";

.addToCart {
  display: flex;
  color: $primary;
  font: 20px/22px Malina, sans-serif;
  letter-spacing: -.5px;
  background: $backgroundPrimary;
  border-width: 0;
  padding: 7px 12px 8px;
  border-radius: 11px;

  &:hover {
    color: $primaryVariant;
    background-color: $secondary;
    cursor: pointer;
  }
}
