@import "variables";

@mixin textDecoration($color, $fontSize, $fontFamily, $letterSpacing) {
  color: $color;
  font: $fontSize $fontFamily;
  letter-spacing: $letterSpacing;
}

@mixin title {
  @include textDecoration($primary, 28px, $primaryFont, -1px);
}

@mixin size {
  @include textDecoration($textSecondary, 15px, $secondaryFont, 0);
}

@mixin price {
  @include textDecoration($textPrimary, 32px, $primaryFont, -1px);
}

@mixin titleBlock {
  @include textDecoration($textSecondary, 32px, $primaryFont, -.5px);
  text-align: center;
}

@mixin optionSelectTitle {
  @include textDecoration($textSecondary, 20px, $primaryFont, -.5px);
}