@import "../../scss/variables";
@import "btn-counter";

.counter {
  display: flex;
  margin: 0 15px;

  .minus {
    @include btnCounter;
  }

  .quantity {
    color: $textPrimary;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    min-width: 35px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }

  .plus {
    @include btnCounter;
  }
}