@import "../../../public/scss/palette";
@import "btnCounter";

.counter {
  display: flex;

  .minus {
    @include btnCounter;
  }

  .count {
    color: $textPrimary;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    min-width: 35px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }

  .plus {
    @include btnCounter;
  }
}