@import "../../scss/variables";
@import "../../scss/patterns";

.counter {
  display: flex;
  align-items: center;
  margin: 0 15px;

  .minus {
    @include btnCounter;
  }

  .quantity {
    text-align: center;

    min-width: 35px;

    font-family: $secondary-font;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;

    color: $on-surface-color;
  }

  .plus {
    @include btnCounter;
  }
}