@import "../../../public/scss/palette";
@import "../../../public/scss/patterns";

.basket {
  margin: 0 10%;

  .titleRegistration {
    color: $textPrimary;
    font: 42px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
  }

  .titleOrder {
    font: 34px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
  }

  .items {
    margin: 7% 0;

    .pizza {
      padding: 10px 0;

      .title {
        @include title;
      }

      .variants {
        display: flex;
        align-items: center;
        margin: 15px 0 0 10px;

        .size {
          @include size;
          margin: 0 10px 0 0;
        }

        .price {
          color: $textPrimary;
          font: 32px Helvetica, Arial, sans-serif;
          font-weight: 700;
          margin: 0 20px;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #c3c3c3;
      }
    }
  }
}
