@import "../../../public/scss/palette";
@import "../../../public/scss/patterns";

.pizzas {
  .titleBlock {
    @include titleBlock;
  }

  .pizzasList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .pizza {
      margin: 1rem;
      list-style: none;
      max-width: 300px;
    }
  }
}