@import "../../scss/variables";
@import "../../scss/patterns";

.pizzasMenu {
  padding: 20px 0;

  .titleBlock {
    @include titleBlock;
  }

  .pizzasList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .pizza {
      margin: 1rem;
      max-width: 300px;

      list-style: none;
    }
  }
}