@import "../../scss/variables";
@import "../../scss/patterns";

.navigation {
  padding: 20px 0;

  .navigationWrapper {
    display: flex;
    justify-content: center;

    .wrapperLinks {
      padding: 0 20px;

      list-style: none;

      .links {
        @include textDecoration(24px, $primary-font, -.5px, $primary-color);

        text-decoration: none;
      }
    }
  }
}