@import "../../../public/scss/variables";
@import "../../../public/scss/patterns";

.navigation {
  padding: 20px 0;

  .navigationWrapper {
    display: flex;
    justify-content: center;

    .wrapperLinks {
      padding: 0 20px;
      list-style: none;

      .links {
        @include textDecoration($primary, 24px, $primaryFont, -.5px);
        text-decoration: none;
      }
    }
  }
}