@import "../../../public/scss/palette";

.navigation {
  .navigationWrapper {
    display: flex;
    justify-content: center;

    .wrapperLinks {
      padding: 0 20px;
      list-style: none;

      .links {
        color: $primary;
        font: 32px/1 Malina,sans-serif;
        letter-spacing: -.5px;
        text-decoration: none;
      }
    }
  }
}