@import "../../scss/variables";
@import "../../scss/patterns";

.sauceTitle {
  padding: 5px 0;

  font-family: $primary-font;
  font-size: 14px;
  letter-spacing: -1px;

  color: $primary-color;
}

.saucePrice {
  @include price;

  padding: 5px 0;
}