@import "../../scss/variables";

header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;

  background-image: url("header-bg.gif");

  .logo {
    svg {
      position: relative;

      height: 7rem;

      color: $on-primary-color;
    }
  }

  .cart-wrap {
    .cart {
      display: table;

      font-family: $primary-font;
      font-size: 27px;
      text-decoration: none;

      color: $on-primary-color;
    }

    .price {
      margin: 15px 0;

      font-family: $secondary-font;
      font-size: 24px;

      color: $on-primary-color;
    }
  }
}