header {
    background-image: url("header-bg.gif");
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

header svg {
    height: 7rem;
    position: relative;
    color: #fff;
}

header .cart {
    display: table;
    color: #fff;
    text-decoration: none;
}

header .price {
    color: #fff;
}