@import "../../../public/css/palette";

header {
  background-image: url("header-bg.gif");
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;

  svg {
    height: 7rem;
    position: relative;
    color: $primaryVariant;
  }

  .cart {
    display: table;
    color: $primaryVariant;
    text-decoration: none;
  }

  .price {
    color: $primaryVariant;
  }
}