@import "../../../public/css/palette";

header {
  background-image: url("header-bg.gif");
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;

  svg {
    height: 7rem;
    position: relative;
    color: $primaryVariant;
  }

  .cart {
    display: table;
    color: $primaryVariant;
    text-decoration: none;
    font: 27px/1 Malina,sans-serif;
  }

  .price {
    color: $primaryVariant;
    margin: 15px 0;
    font: 24px/1.2 Helvetica,Arial,sans-serif;
  }
}