@import "../../scss/variables";
@import "../../scss/patterns";

.pizzaBasket {
  padding: 10px 0;

  .title {
    @include title;

    margin: 10px 0 15px;
  }

  .details {
    display: flex;
    align-items: center;

    .size {
      @include size;

      width: 150px;
    }

    .price {
      margin: 0 40px;

      font-family: $secondary-font;
      font-size: 32px;
      font-weight: 700;

      color: $on-surface-color;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $background-color;
  }
}
