@import "../../scss/variables";
@import "../../scss/patterns";

.pizzaInfo {
  padding: 0 1rem;

  .title {
    @include title;
  }
}

.desc {
  padding: 0 1rem;

  font-family: $secondary-font;
  font-size: 15px;
  line-height: 1.2;

  color: $secondary-color;
}
