/*@font-face {*/
/*    font-family: Malina;*/
/*    src: url(../../../public/fonts/malina_webfont.ttf) format('truetype');*/
/*}*/

.pizzaInfo {
    padding: 0 1rem;
}

.pizzaInfo .variant {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}

.pizzaInfo .variant .countPizzas {
    display: flex;
    align-items: center;
}

.pizzaInfo .variant .countPizzas .addToCart {
    display: flex;
}

.pizzaInfo .variant .countPizzas .counter {
    display: flex;
}

.pizzaInfo h3 {
    font-family: Malina, sans-serif;
}

.desc {
    padding: 0 1rem;
}