@import "../../../public/css/palette";

.pizzaInfo {
    padding: 0 1rem;
}

.pizzaInfo h3 {
    font: 28px/1.1 Malina, sans-serif;
    color: $primary;
}

.pizzaInfo .variant {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}

.pizzaInfo .infoAboutVariant .size {
    color: $textSecondary;
    font-size: 15px;
}

.pizzaInfo .infoAboutVariant .price {
    color: $textPrimary;
    font: 32px/1.1 Malina,sans-serif;
}

.pizzaInfo .infoAboutVariant .weight {
    color: $textSecondary;
    font-size: 12px;
}

.pizzaInfo .variant .countPizzas {
    display: flex;
    align-items: center;
}

.pizzaInfo .variant .countPizzas .addToCart {
    display: flex;
}

.pizzaInfo .variant .countPizzas .counter {
    display: flex;
}


.desc {
    padding: 0 1rem;
}