.pizzaInfo {
    padding: 0 1rem;
}

.pizzaInfo .variant {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}

.pizzaInfo .variant .countPizzas {
    display: flex;
    align-items: center;
}

.pizzaInfo .variant .countPizzas .counter {
    display: flex;
}

.pizzaInfo .variant .countPizzas .addToCart {
    display: flex;
}