@import "../../../public/scss/variables";
@import "../../../public/scss/patterns";
@import "../counter/counter";

.pizzaInfo {
  padding: 0 1rem;

  .title {
    @include title;
  }

  .variant {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;

    .infoAboutVariant {
      .size {
        @include size;
      }

      .price {
        @include price;
      }

      .weight {
        color: $textSecondary;
        font: 12px/1 Arial, Helvetica, sans-serif;
      }
    }

    .countPizzas {
      display: flex;
      align-items: center;
    }
  }
}

.desc {
  padding: 0 1rem;
  color: $textSecondary;
  font: 15px/1.2 Helvetica, Arial, sans-serif;
}
