@import "../../../public/scss/palette";
@import "../../../public/scss/patterns";

.addressDelivery {
  .titleDelivery {
    font: 34px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
    padding: 0 0 30px;
    text-align: center;
  }

  .addressForm {
    .labelName {
      @include basketFormLabel;

      .inputName {
        border: 1px solid $secondaryVariant;
        border-radius: 4px;
        font-size: 21px;
        padding: 4px 4px 4px 10px;
        height: 30px;
      }
    }

    .address {
      display: flex;
      flex-wrap: wrap;

      .addressDetail {
        width: 85px;
      }
    }

    .labelComment {
      width: 375px;

      .inputComment {
        height: auto;
      }
    }
  }
}