@import "../../../public/scss/palette";

.addressDelivery {
  .titleDelivery {
    font: 34px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
    padding: 0 0 30px;
    -webkit-text-stroke: 1px transparent;
  }

  .addressForm {
    .labelName {
      font: 17px/1.2 Helvetica, Arial, sans-serif;
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;

      .inputName {
        border: 1px solid $secondaryVariant;
        border-radius: 4px;
        font-size: 21px;
        padding: 4px 4px 4px 10px;
        width: 280px;
        height: 30px;
      }
    }
  }
}