@import "../../scss/variables";
@import "../../scss/patterns";

.sauces {
  padding: 20px 0;

  .titleBlock {
    @include titleBlock;
  }

  .saucesList {
    margin: 20px 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;

    .sauce {
      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}