@import "../../../public/scss/palette";
@import "../../../public/scss/patterns";

.sauces {
  .titleBlock {
    @include titleBlock;
  }

  .saucesList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 0;

    .sauce {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      .sauceTitle {
        color: $primary;
        font: 14px Malina,sans-serif;
        letter-spacing: -1px;
        padding: 5px 0;
      }

      .saucePrice {
        @include price;
        padding: 5px 0;
      }
    }
  }
}