@import "../../scss/variables";
@import "../../scss/patterns";

.sauces {
  padding: 20px 0;

  .saucesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 0;

    .sauce {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
}