@font-face {
  font-family: "Malina";
  src: local("Malina"),
  url("./fonts/Malina/malina_webfont.ttf") format("truetype"),
  url("./fonts/Malina/malina-webfont.woff") format("woff");
}

$primaryFont: Malina, sans-serif;
/*$secondaryFont: Helvetica, Arial, sans-serif;*/